.mar-top{
  margin-top: 100px;
}
.width-100{
    width: 100%;
}
.text-white{
  color: white;
}
.font-large{
  font-size: -webkit-xxx-large;
}
.color-954C94{
    color: #954C94;
}
img#logo {
    width: 50%;
    margin-top: -22px;
}
.menu-fixed{
    position: fixed;
}

.circulo {
     width: 122px;
     height: 126px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #9f5092;
     margin-top: 60px;
}
.bg-header{
   background-image: url(../img/header.png);
    width: 100%;
    height: 1307px;
    background-size: contain;
    background-blend-mode: color;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -544px;
}

/*SECCIÓN CONÓCENOS*/
.bg-conocenos{
    background-image: url(../img/bicitekas.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(245, 245, 245, 0.6);
    background-position: bottom;
}
button#verde {
    background-color: #28b145;
}
button#morado {
    background-color: #871c6e;
}
.botones {
    padding-top: 13px;
    padding-bottom: 12px;
    margin-top: 13px;
}
.bg-ciclismo{
  background-image: url(img/foto-14.jpg); 
  background-size: cover;
  height: auto;
}


blockquote {s
  margin: 10px;
  padding: 10px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 42px;
  line-height: 5px;
  vertical-align: -14px;
}
blockquote p {
  display: inline;
}

.media-body{
    display: table-cell;
    vertical-align: top;
}
.bg-footer{
    background-image: url(../img/footer.png);
}
/*NUESTRO EQUIPO*/
.team {
    width: 100%;
    height: 500px;
    background-color: rgb(8, 199, 205);
    padding-top: 158px;
    padding-left: 117px;s
}
/*Rombo*/
.rombo {
    width: 150px;
    height: 150px;
    background: #91DC5A;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 2px solid black;
}
/*Cuadrado*/
.cuadrado {
    width: 164px;
    height: 164px;
    background: #FFFFFF;
    margin-top: -155px;
    margin-left: -5px;
}
.relative{
  position: relative;
}
#team{
      margin-top: -106px;
    margin-bottom: 62px;
}
/*img.piedrasol {
    width: 71%;
    margin-left: 22px;
    margin-top: 25px;
}*/

/*CASA BICITEKA*/
.casab {
    background-color: olive;
    height: 300px;
}
.casa-info {
    padding: 41px;
    border: 4px solid white;